.row#admin
  .col-md-9
    %header
      %h1 Admin Lounge

    %p Welcome to Ticketee's Admin Lounge. Please enjoy your stay.

  .col-md-3
    %h2 Admin Links
    %ul.nav.nav-stacked
      %li Links will go here. Soon.